DB_HOST=localhost
DB_PORT=3306
DB_NAME=lacteosdb
DB_USER=root
DB_PASSWORD=
SECRET_KEY=cambia-esto-en-produccion
FLASK_DEBUG=0
PORT=5000

APPLY_DB_HOST=thomas.proxy.rlwy.net
APPLY_DB_PORT=51505
APPLY_DB_NAME=railway
APPLY_DB_USER=root
APPLY_DB_PASSWORD=
